{% extends 'layouts/base.html' %}

{% block title %} Rules {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header mb-5">
        <h5 class="card-category"></h5>
        <h3 class="card-title">Rules</h3>
      </div>
      <div class="card-body">
        
        <div class="row"></div>

        <div class="typography-line">
          <h3> General </h3>
        </div>
        <div class="typography-line">
          <p>
              <ol>
                <li>You must sign up and then create a manager first in order to participate in game.
               </li>
               <li>
                You nedd to choose your public manager name and team name to create a manager profile.
               </li>
               <li>After that you will buy players and prepare your squad.</li>
              </ol>
          </p>
        </div>

        <div class="row p-2"></div>

        <div class="typography-line">
          <h3> Auction </h3>
        </div>
        <div class="typography-line">
          <p>
              <ol>
                <li>Initially players can be be bought only through the auction room.
                </li>
                <li>
                  In the auction room, the league manager will raise each player to the bidding platform 
                  one by one and the managers will bid for the players. Top bidder wwill get the player.
                </li>
                <li>
                  If no manager bids for any player, he will remain unsold and can be bought directly after
                   the auction.
                </li>
                <li>Players can be bought or transferred directly only after the auction is over.</li>
              </ol>
          </p>
        </div>

        <div class="row p-2"></div>

        

          <div class="typography-line">
            <h3> Forming a team </h3>
          </div>
          <div class="typography-line">
            <p>
                <ol>
                  <li>Initially you need to do bid in the auction room, and each of the player will go 
                    to the top bidder.
                  </li>
                  <li>Before auction, each player will have (price - 1) as bid cost. 
                    After bidding is done the players will go back to their original price.</li>
                  <li>You can buy any of the unsold players after the auction, or sell any of your player
                     at the price you bought.
                  </li>
                  <li>You can offer a bid price other managers to sell you any of their player. 
                    If the manager accepts the offer, the player will be added to your team. 
                 </li>
                 <li>Buy/Sell/Transfer can be penalized by points.</li>
                </ol>
            </p>
          </div>

          <div class="row p-2"></div>

          

          <div class="typography-line">
            <h3> Squad Rules </h3>
          </div>
          <div class="typography-line">
            <p>
                <ol>
                  <li>Each manager will be given a balance of 105.0. You have to buy players within 
                    this limit</li>
                  <li>You team should contain at least 15 players. Otherwise some of the players 
                    will automatically be benched after deadlines and their points will not be added.
                    For example, if you have 13 players, 9 players will be in squad and 4 in bench
                    after the deadline.</li>
                  <li>You can add 11 of your players to your playing squad, whose points will be added.
                    The squad may have:
                    <ul>
                      <li>1 Goalkeeper</li>
                      <li>Minimum 3 defenders to maximum 5 defenders</li>
                      <li>Minimum 3 midfielders to maximum 5 midfielders</li>
                      <li>Minimum 1 forwards to maximum 3 forwards</li>
                    </ul>
                  </li>
                  <li>Minimum 4 players should be in bench whose points will not be added. If not, 
                    players from squad will automatically be benched. Players with <b>higher price</b> 
                    will be benched first.</li>
                  <li>Players will automacally added to playing squad/bench as you buy players.
                    You can swap players from bench to squad as long as that follows the squad rules.
                  </li>
                </ol>
            </p>
          </div>

          <div class="row p-2"></div>



          <div class="typography-line">
            <h3> Points </h3>
          </div>
          <div class="typography-line">
            <p>
                <ol>
                  <li>Points will be calculated as per 
                    <a href="https://fantasy.premierleague.com/help/rules"> official fpl rules.</a></li>
                  <li>There are no chips/additional powers as of now.</li>
                </ol>
            </p>
          </div>

          <div class="row p-2"></div>


          <div class="typography-line">
            <h3> Deadlines </h3>
          </div>
          <div class="typography-line">
            <p>
                <ol>
                  <li>Each gameweek will have a deadline. You have to buy/sell/offer/substitute players
                     before this deadline.
                  </li>
                  <li>Player points will not be updated live. Rather they will be calculated after the 
                    gameweek ends.</li>
                  <li>After the gameweek ends, you can transfer players again after all the points are calculated.</li>
                </ol>
            </p>
          </div>

          <div class="typography-line">
          </div>
          <div class="row p-2"></div>

          <div class="typography-line">
            <h3> Disclaimer </h3>
          </div>
          <div class="typography-line">
            <p>
                <ol>
                  <li>
                    This is not a stable version. Feel free to 
                    <a href="https://github.com/promitbasak/fpl-auction/issues">report a bug</a>
                     if you see any issue.
                  </li>
                </ol>
            </p>
          </div>

          <div class="typography-line">
          </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
