{% extends 'layouts/base.html' %}

{% block title %} Rules {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header mb-5">
        <h5 class="card-category"></h5>
        <h3 class="card-title">Rules</h3>
      </div>
      <div class="card-body">


          <div class="typography-line">
            <h3> Forming a team </h3>
          </div>
          <div class="typography-line">
            <p>
                <ol>
                  <li>1. You must create a manager first in order to participate in game.</li>
                  <li>List Item</li>
                  <li>List item</li>
                  <li>List Item</li>
                </ol>
            </p>
          </div>
          

          <div class="typography-line">
            <h3> Player Trade </h3>
          </div>
          <div class="typography-line">
            <p>
                <ol>
                  <li>1. You must create a manager first in order to participate in game.</li>
                  <li>List Item</li>
                  <li>List item</li>
                  <li>List Item</li>
                </ol>
            </p>
          </div>


          <div class="typography-line">
            <h3> Player Trade </h3>
          </div>
          <div class="typography-line">
            <p>
                <ol>
                  <li>1. You must create a manager first in order to participate in game.</li>
                  <li>List Item</li>
                  <li>List item</li>
                  <li>List Item</li>
                </ol>
            </p>
          </div>

          <div class="typography-line">
            <h3> Points </h3>
          </div>
          <div class="typography-line">
            <p>
                <ol>
                  <li>1. You must create a manager first in order to participate in game.</li>
                  <li>List Item</li>
                  <li>List item</li>
                  <li>List Item</li>
                </ol>
            </p>
          </div>



      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
