{% extends 'layouts/base.html' %}

{% block title %} Manager {%if manager %}- {{ manager.name }} {% endif %} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  p.description {
    font-size: 1em;
  }
</style>
{% endblock stylesheets %}

{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block content %}

<!-- ----- Card ------- -->


<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="{% static 'assets/img/anime3.png' %}" alt="{{ request.user.username }}">
              <h4 class="title">
                <span class="">{{ manager.name }}</span>
              </h4>
            </a>
            <p class="description">
              Team: <span class="text-primary"><b>{{ manager.team_name }}</b></span>
            </p>
            <p class="description">
              Total Points: <span class="text-primary"><b>{{ manager.total_points }}</b></span>
            </p>
            <p class="description">
              Total Bid: <span class="text-primary"><b>{{ manager.total_bid }}</b></span>
            </p>
            <p class="description">
              {% with balance=manager_max_balance|subtract:manager.total_bid %}
              Balance: <span class="text-primary"><b>{{ balance|floatformat:1 }}</b></span>
              {% endwith %}
            </p>
            <p class="description">
              {% with squad_value=manager|team_value %}
              Team Value: <span class="text-primary"><b> {{ squad_value|floatformat:1 }}</b></span>
              {% endwith %}
            </p>
            <p class="description">
              Point penalty: <span class="text-primary"><b>{{ manager.point_penalties }}</b></span>
            </p>
          </div>
        </p>
        {% if manager.user.about_me %}
        <div class="card-description">
          {{ manager.user.about_me }}
        </div>
        {% endif %}
      </div>
      <div class="card-footer">
        {% with user=manager.user %}
        <div class="row mx-auto text-center">
          <div class="button-container mx-auto text-center">
              <a href="{% if user.facebook_link %}{{ user.facebook_link }}{% else %}javascript:void(0){% endif %}",
               style="color: #ffffff;" target="{% if user.facebook_link %}_blank{% endif %}">
               <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                <i class="fab fa-facebook"></i></button></a>
              <a href="{% if user.fpl_id %}https://fantasy.premierleague.com/entry/{{ user.fpl_id }}/event/1{% else %}javascript:void(0){% endif %}",
                style="color: #ffffff;" target="{% if user.fpl_id %}_blank{% endif %}">
                <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                <i class="tim-icons icon-trophy"></i></button>
              </a>
              <a href="{% if user.linkedin_link %}{{ user.linkedin_link }}{% else %}javascript:void(0){% endif %}", 
                  style="color: #ffffff;" target="{% if user.linkedin_link %}_blank{% endif %}">
                  <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                  <i class="fab fa-linkedin"></i></button></a>
          </div>
        </div>
        {% endwith %}
      </div>
    </div>
  </div>
</div>



<!-- ------------ Players ------------ -->


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Current Players </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  Name
                </th>
                <th class="text-center">
                  Team
                </th>
                <th class="text-center">
                  Position
                </th>
                <th class="text-center">
                  Points
                </th>
                <th class="text-center">
                  FPL Price
                </th>
                <th class="text-center">
                  Bid Price
                </th>
                <th class="text-center">
                  Bought By
                </th>
              </tr>
            </thead>
            <tbody>
              {% for player in manager.player_set.all|dictsort:"element_type.id" %}
              <tr>
                <td class="text-center">
                  <a href="{% url 'game:player_detail' player.id %}">
                    {{ player.first_name}} {{ player.second_name }}</a>
                </td>
                <td class="text-center">
                  {{ player.team.name }}
                </td>
                <td class="text-center">
                  {{ player.element_type.position_verbose }}
                </td>
                <td class="text-center">
                  {{ player.total_points }}
                </td>
                <td class="text-center">
                  {{ player.now_cost }}
                </td>
                <td class="text-center">
                  {% if player.current_bid %}
                  {{ player.current_bid }}
                  {% elif player.base_bid %}
                  {{ player.base_bid }}
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if player.bought_by %}
                    <a href="{% url 'game:manager_detail' player.bought_by.id %}">
                      {{ player.bought_by.name }}</a>
                  {% else %}
                    {{ player.bought_by.name }}
                  {% endif %}
                </td>
              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ------------ Gameweek ------------ -->


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Gameweeks - {{ manager.name }}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  Gameweek
                </th>
                <th class="text-center">
                  Total Bid
                </th>
                <th class="text-center">
                  GW Points
                </th>
                <th class="text-center">
                  Players
                </th>
              </tr>
            </thead>
            <tbody>
              {% for mgw in manager.managergameweek_set.all|dictsort:"gw" %}
                  <tr>
                    <td class="text-center">
                      {{ mgw.gw }}
                    </td>
                    <td class="text-center">
                      {{ mgw.total_bid }}
                    </td>
                    <td class="text-center">
                      {{ mgw.gw_points }}
                    </td>
                    <td class="text-center">


                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong{{ mgw.gw }}">
                        See Players
                      </button>

                      <!-- Modal -->
                      <div class="modal modal-black fade" id="exampleModalLong{{ mgw.gw }}" tabindex="-1" role="dialog" 
                        aria-labelledby="exampleModalLong{{ mgw.gw }}Title" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLong{{ mgw.gw }}Title">Players</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="tim-icons icon-simple-remove"></i>
                              </button>
                            </div>
                            <div class="modal-body">
                              

                              <div class="table-responsive">
                                <table class="table tablesorter " id="">
                                  <thead class=" text-primary">
                                    <tr>
                                      <th class="text-center">
                                        Name
                                      </th>
                                      <th class="text-center">
                                        Team
                                      </th>
                                      <th class="text-center">
                                        Position
                                      </th>
                                      <th class="text-center">
                                        Points
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for player in mgw.squad.all|dictsort:"element_type.id" %}
                                    <tr>
                                      <td class="text-center">
                                        <a href="{% url 'game:player_detail' player.id %}">
                                          {{ player.first_name}} {{ player.second_name }}</a>
                                      </td>
                                      <td class="text-center">
                                        {{ player.team.name }}
                                      </td>
                                      <td class="text-center">
                                        {{ player.element_type.position_verbose }}
                                      </td>
                                      <td class="text-center">
                                        {% player_from_gameweek gw=mgw.gw player=player %}
                                      </td>
                                    </tr>
                      
                                    {% endfor %}
                      
                                  </tbody>
                                </table>
                              </div>


                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>




                    </td>
                  </tr>
                {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>




<!-- ------------ Transfer History ------------ -->


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Transfer History</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  Player Name
                </th>
                <th class="text-center">
                  Team
                </th>
                <th class="text-center">
                  Position
                </th>
                <th class="text-center">
                  From
                </th>
                <th class="text-center">
                  To
                </th>
                <th class="text-center">
                  Transfer Type
                </th>
                <th class="text-center">
                  Cost
                </th>
                <th class="text-center">
                  Time
                </th>
              </tr>
            </thead>
            <tbody>
              {% for transfer in manager|manager_transfers %}
              <tr>
                <td class="text-center">
                  <a href="{% url 'game:player_detail' transfer.player.id %}">
                    {{ transfer.player.first_name}} {{ transfer.player.second_name }}</a>
                </td>
                <td class="text-center">
                  {{ transfer.player.team.name }}
                </td>
                <td class="text-center">
                  {{ transfer.player.element_type.position_verbose }}
                </td>
                <td class="text-center">
                  {% if transfer.from_manager %}
                    <a href="{% url 'game:manager_detail' transfer.from_manager.id %}">
                      {{ transfer.from_manager.name }}</a>
                  {% else %}
                    {{ transfer.from_manager.name }}
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if transfer.to_manager %}
                    <a href="{% url 'game:manager_detail' transfer.to_manager.id %}">
                      {{ transfer.to_manager.name }}</a>
                  {% else %}
                    {{ transfer.to_manager.name }}
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if transfer.type == 1 %}
                    Buy
                  {% elif transfer.type == 2 %}
                    Sell
                  {% elif transfer.type == 3 %}
                    Transfer
                  {% endif %}
                </td>
                <td class="text-center">
                  {{ transfer.bid }}
                </td>
                <td class="text-center">
                  {{ transfer.time|naturalday|title }}
                </td>
              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
