{% extends "layouts/base.html" %}

{% block title %} Buy {{player.web_name }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card">
              <form role="form" method="post" action="">
                {% csrf_token %} 

                <div class="card-header">
                  <h5 class="title">Sell {{player.first_name}} {{player.last_name}}</h5>

                  <h6 class="card-category text-left">
                    {% if msg %}
                        {% if success %}
                          <span class="text-success">{{ msg | safe }}</span>
                        {% else %}
                          <span class="text-danger">{{ msg | safe }}</span>
                        {% endif %}
                    {% else %}
                      Check details
                    {% endif %}
                  </h6>
                </div>

                {% if player %}
                <div class="card-body">

                    <div class="row">

                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label>Player name</label>
                          <input type="text" value="{{player.first_name}} {{player.second_name}}", 
                              class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label>Team</label>
                          <input type="text" value="{{player.team.name}}", 
                              class="form-control" disabled>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label>Position</label>
                          <input type="text" value="{{player.element_type.position_verbose}}", 
                              class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label>Total Points</label>
                          <input type="text" value="{{player.total_points}}", 
                              class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label>Player Status</label>
                          <input type="text" value="{{player.status.status_verbose}}", 
                              class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label>Base Bid</label>
                          <input type="text" value="{{player.base_bid}}", 
                              class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                </div>
                {% endif %}

                </form>

                {% if form %}
                <form role="form" method="post" action="" class="mx-auto">
                {% csrf_token %} 

                <div class="card-body">
                      <div class="row"></div>
                </div>
                <div class="card-footer mx-auto text-center">
                  <h6 class="card-category mx-auto">
                    <span class="text-danger">Are you sure you want to sell?</span> 
                  </h6>

                  {% if warning %}
                    <h6 class="card-category mx-auto">
                      <span class="text-danger">Note: {{ warning | safe }}</span> 
                    </h6>
                  {% endif %}

                  <button type="submit" name="Create" 
                  class="btn btn-fill btn-primary text-center">Sell</button>
                </div>
              </form>

              {% endif %} 

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
