{% extends 'layouts/base.html' %}

{% block title %} {{ player.web_name }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

#headshot {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
</style>

{% endblock stylesheets %}
{% load custom_filters %}

{% block content %}


<!-- ----------- Card --------------- -->

<div class="row">

<div class="col-md-8 mx-auto">
  <div class="card card-user">
    <div class="card-body">
      <p class="card-text">
        <div class="author">
          <div class="block block-one"></div>
          <div class="block block-two"></div>
          <div class="block block-three"></div>
          <div class="block block-four"></div>
          <a href="javascript:void(0)">
            <img class="avatar" id="headshot" alt="{{ player.name }}"
                src= "https://resources.premierleague.com/premierleague/photos/players/110x140/p{{ player.fpl_code }}.png">
            <h5 class="title">
              {{ player.first_name }} {{ player.second_name }}
            </h5>
          </a>
          <p class="description">
            {{ player.element_type.position_verbose }}, {{ player.team.name }}
          </p>
        </div>
      </p>
      <div class="card-description">
        
      </div>
    </div>
      <div class="row mx-auto text-center">
        <div class="button-container mx-auto text-center">
          {% if not request.user.is_manager %}
                    
          {% elif player.bought %}
            {% if player.bought_by.id == request.user.manager.id %}
                <a  class="btn btn-primary" href="{% url 'game:player_sell' player.id %}"> Sell </a>
            {% else %}
              <!-- <a href="% url 'game:player_transfer' player.id %"> Transfer </a> -->
            {% endif %}
          {% else %}
              <a href="{% url 'game:player_buy' player.id %}" class="btn btn-primary"> Buy </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>



<!-- -------- details --------- -->
<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title"> {{ player.first_name }} {{ player.second_name }}</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th class="text-center">
                    Name
                  </th>
                  <th class="text-center">
                    Team
                  </th>
                  <th class="text-center">
                    Position
                  </th>
                  <th class="text-center">
                    Points
                  </th>
                  <th class="text-center">
                    Current Cost
                  </th>
                  <th class="text-center">
                    Bid Price
                  </th>
                  <th class="text-center">
                    Selected By
                  </th>
                  <th class="text-center">
                    Bought
                  </th>
                  <th class="text-center">
                    Bought By
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    {{ player.first_name}} {{ player.second_name }}
                  </td>
                  <td class="text-center">
                    {{ player.team.name }}
                  </td>
                  <td class="text-center">
                    {{ player.element_type.position_verbose }}
                  </td>
                  <td class="text-center">
                    {{ player.total_points }}
                  </td>
                  <td class="text-center">
                    {{ player.now_cost }}
                  </td>
                  <td class="text-center">
                    {{ player.base_bid }}
                  </td>
                  <td class="text-center">
                    {{ player.selected_by_percent }}
                  </td>
                  <td class="text-center">
                    {{ player.bought }}
                  </td>
                  <td class="text-center">
                    {% if player.bought_by %}
                      <a href="{% url 'game:manager_detail' player.bought_by.id %}">
                        {{ player.bought_by.name }}</a>
                    {% else %}
                      {{ player.bought_by.name }}
                    {% endif %}
                  </td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>



<!-- ------------ Gameweek ------------ -->




<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Gameweeks - {{ player.first_name }} {{ player.second_name }}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  Gameweek
                </th>
                <th class="text-center">
                  Minutes
                </th>
                <th class="text-center">
                  GW Points
                </th>
                <th class="text-center">
                  Goals
                </th>
                <th class="text-center">
                  Assists
                </th>
                <th class="text-center">
                  Clean Sheets
                </th>
                <th class="text-center">
                  FPL Cost
                </th>
                <th class="text-center">
                  Bid Price
                </th>
                <th class="text-center">
                  Bonus
                </th>
                <th class="text-center">
                  Manager
                </th>
              </tr>
            </thead>
            <tbody>
              {% for pgw in player.playergameweek_set.all %}
                  <tr>
                    <td class="text-center">
                      {{ pgw.gw }}
                    </td>
                    <td class="text-center">
                      {{ pgw.minutes }}
                    </td>
                    <td class="text-center">
                      {{ pgw.gw_points }}
                    </td>
                    <td class="text-center">
                      {{ pgw.goals_scored }}
                    </td>
                    <td class="text-center">
                      {{ pgw.assists }}
                    </td>
                    <td class="text-center">
                      {{ pgw.clean_sheets }}
                    </td>
                    <td class="text-center">
                      {{ pgw.now_cost }}
                    </td>
                    <td class="text-center">
                      {{ pgw.current_bid }}
                    </td>
                    <td class="text-center">
                      {{ pgw.bonus }}
                    </td>
                    <td class="text-center">
                      {% if not pgw.bought_by %}
                        
                      {% else %}
                          <a href="{% url 'game:manager_detail' pgw.bought_by.id %}"> 
                            {{ pgw.bought_by.name}} </a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ------------ Transfer History ------------ -->


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Transfer History</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  Player Name
                </th>
                <th class="text-center">
                  Team
                </th>
                <th class="text-center">
                  Position
                </th>
                <th class="text-center">
                  From
                </th>
                <th class="text-center">
                  To
                </th>
                <th class="text-center">
                  Transfer Type
                </th>
                <th class="text-center">
                  Cost
                </th>
              </tr>
            </thead>
            <tbody>
              {% for transfer in player.transferhistory_set.all %}
              <tr>
                <td class="text-center">
                  <a href="{% url 'game:player_detail' transfer.player.id %}">
                    {{ transfer.player.first_name}} {{ transfer.player.second_name }}</a>
                </td>
                <td class="text-center">
                  {{ transfer.player.team.name }}
                </td>
                <td class="text-center">
                  {{ transfer.player.element_type.position_verbose }}
                </td>
                <td class="text-center">
                  {% if transfer.from_manager %}
                    <a href="{% url 'game:manager_detail' transfer.from_manager.id %}">
                      {{ transfer.from_manager.name }}</a>
                  {% else %}
                    {{ transfer.from_manager.name }}
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if transfer.to_manager %}
                    <a href="{% url 'game:manager_detail' transfer.to_manager.id %}">
                      {{ transfer.to_manager.name }}</a>
                  {% else %}
                    {{ transfer.to_manager.name }}
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if transfer.type == 1 %}
                    Buy
                  {% elif transfer.type == 2 %}
                    Sell
                  {% elif transfer.type == 3 %}
                    Transfer
                  {% endif %}
                </td>
                <td class="text-center">
                  {{ transfer.bid }}
                </td>
              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
